body {
  background-color: black;
}

section {
  width: 95vw;
  height: 93vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 940px;
  height: 650px;
}

.login {
  background-color: aqua;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 30%;
}

.fundo-formulario {
  position: absolute;
  border-radius: 2rem;
  width: 450px;
  height: 450px;
  background-color: rgb(53, 49, 49);
  opacity: 70%;
}

.formulario {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: rgb(219, 212, 212);
  font-family: monospace;
  font-size: 2.3rem;
  text-shadow: 0 0 0.5em black;
}

.transparenci {
  text-decoration: none;
  color: rgb(219, 212, 212);
  border: none;
  padding: 10px 10px;
  border-radius: 25px;
  background: rgba(92, 94, 92, 0.5);
  box-shadow: 0 0 0.5em darkgreen;
}

.botao {
  text-decoration: none;
  color: rgb(209, 202, 202);
  border: none;
  padding: 10px 10px;
  border-radius: 25px;
  background: rgba(182, 11, 11, 0.5);
  box-shadow: 0 0 0.5em darkred;
}

input::placeholder {
  color: rgb(209, 202, 202);
}

.nome {
  width: 250px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconUser {
  margin: 5%;
  color: rgb(209, 202, 202);
  font-family: monospace;
  text-shadow: 0 0 0.5em darkblue;
}

.iconEmail {
  margin: 5%;
  color: rgb(209, 202, 202);
  font-family: monospace;
  text-shadow: 0 0 0.5em darkblue;
}

.iconLogin {
  margin: 5%;
  border: none;
  border-radius: 25px;
  color: rgb(209, 202, 202);
  text-shadow: 0 0 0.5em darkblue;
}

.link {
  font-size: 1rem;
  color: rgb(209, 202, 202);
  font-family: monospace;
  text-shadow: 0 0 0.5em darkblue;
}
